    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the BioBuilders</h2>
                <p>DTU Biobuilders aim to solve real life problems with synthetic biology as the main driver. The team of students is put together on a yearly basis and every year DTU Biobuilders participate in the International Genetically Engineered Machine (iGEM) competition, which is the largest synthetic biology competition in the world. </p>
                <p>DTU Biobuilders’ activities are primarily driven by students, with the support of several faculty supervisors.</p>
            </div>
        </div>
    </section>