    <!-- Download Section -->
    <section id="download" class="content-section">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our project goal</h2>
                    <p>A molecular toolbox and framework for controlling the morphology (shape) of filamentous fungi to improve their productivity for compounds of interest. </p>
                    <h2>Impact</h2>
                    <p>Filamentous fungi are widely used for the industrial production of enzymes and chemicals, including food additives, detergents and pharmaceuticals. 
                        As an example, Danish Novozymes alone made 15 billion DKK on their filamentous fungi products 2019 [2]. 
                        In addition, microorganisms such as filamentous fungi are a sustainable alternative to many existing petroleum-based, production methods, but often the higher price is the deterrent for using them. 
                        By improving the efficiency of bio-based production processes, we can improve economic incentive to use them. 
                        In this way, we can decrease our reliance on petroleum-based substrates, and instead move towards a more sustainable and bio-based chemical industry. 
                    </p>
                    <h2>Background</h2>
                    <p>
                        Filamentous fungi arrange their cells in thread-like, multicellular networks. 
                        Depending on genetic and environmental parameters, the network can take on different shapes or morphologies. 
                        The correct morphology can result in a drastic improvement in performance. 
                        For some products, having the cells evenly dispersed leads to the highest production, while for others, having the cells clumped in “pellets” leads to the better performance. 
                        As such, controlling the morphology could be of great use. 
                        Our solution would provide molecular tools for academia and industry to ensure a morphology that fits the product of their interest. 
                    </p>
                </div>
            </div>
        </div>
    </section>
