    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Another our project</h2>
                    <p>This year, the BioBuilders will be working to improve the morphology of filamentous fungi. More info to come soon!</p>
                    <a href="http://www.dtu.dk" class="btn btn-default-fill btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>